<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746901003370-mhdg17vv5bcna9rmulg9hgufu5818499.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746901003370-mhdg17vv5bcna9rmulg9hgufu5818499</string>
	<key>API_KEY</key>
	<string>AIzaSyBVKW8bpSRvQRT0e_6ony0wOiPrXYn9i00</string>
	<key>GCM_SENDER_ID</key>
	<string>746901003370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secondEye</string>
	<key>PROJECT_ID</key>
	<string>cs-ia-db</string>
	<key>STORAGE_BUCKET</key>
	<string>cs-ia-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746901003370:ios:6dd00adb4c875764c7be13</string>
</dict>
</plist>